<div style="text-align:center">
  <h1>
    Zendesk Ticket Viewer
  </h1>
  <h2>
    Welcome, {{ownername}}
  </h2>
</div>

<div>
  <!-- <button (click)="getTickets()">TICKETS</button> 
  <span>Your tickets: </span> -->

  <ul class="pagination" *ngIf="tickets">
    <li><button class="btn btn-primary" (click)="prevPage()" [disabled]="page_number==1">Previous</button></li>
    <li><button class="btn btn-primary" (click)="nextPage()" [disabled]="ticketsObj.next_page==null">Next</button></li>
  </ul>

  <div class="col-12">  
    <div *ngIf="tickets">
    <div class="card" *ngFor="let ticket of tickets" >
      <div class="card-body">
        <h5 class="card-title">{{ticket.subject | uppercase}}</h5>
        <p class="card-text">Status : {{ticket.status | uppercase}}</p>
        <!-- <a href="#" class="btn btn-primary">VIEW</a> -->
      </div>
    </div>
    </div>
  </div>

</div>

